<ion-header>
    <ion-toolbar color = "primary">
      <ion-title>Pharmaceutical registration</ion-title>
      <ion-buttons slot="start">
        <ion-back-button icon="arrow-round-back"></ion-back-button>
      </ion-buttons>    
      <ion-buttons slot="end">
          <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding *ngIf="showRegisteringForm">
      <ion-grid fixed>
        <!-- Name picked from the signed in details -->
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input placeholder="Name" [(ngModel)]="patientName"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input placeholder="Email" [(ngModel)]="patientEmail"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input placeholder="Contact" [(ngModel)]="patientContact"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="Symptoms" [(ngModel)]="patientSymptoms"></ion-input>
                </ion-item>
              </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input placeholder="Select hospital" [(ngModel)]="patientHospital"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input placeholder="Choose doctor" [(ngModel)]="patientDoctor"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <!-- submit -->
          <ion-row>
            <ion-col text-center>
              <ion-button (click)="CreateRecord()" [disabled]="!patientName || !patientEmail || !patientContact || !patientSymptoms || !patientHospital || !patientDoctor">
                <ion-icon size="small" slot="icon-only" name="add"></ion-icon>
                &nbsp;Submit
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      <ion-card *ngFor="let item of hospitals">
    <span *ngIf="!item.isEdit; else elseBlock">
        <ion-card-header>
            <ion-card-title>{{item.Name}} of {{item.Contact}} </ion-card-title>
            <ion-card-subtitle>From: {{item.Address}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
            <!-- <ion-button> -->
              <ion-button (click)="addMap(item.Location,item.Name)">
                Go to map
              </ion-button>
            <!-- </ion-button> -->
          <!-- </ion-card-content> -->
          <!-- <ion-card-content> -->
     
          <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
            <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
    
          </ion-button>
          <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
            <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
    
          </ion-button>
        </ion-card-content>
      </span>
  <!-- </ion-card>
    <ion-card> -->
      <ng-template #elseBlock>
        <ion-card-header>
          <ion-card-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                    Update
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label><strong>Name</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>Contact</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditContact"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>Address</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label><strong>Location</strong></ion-label>
            <ion-input type="text" [(ngModel)]="item.EditLocation"></ion-input>
          </ion-item>
        </ion-card-content>
      </ng-template>
    </ion-card>
  </ion-content>

  <ion-content padding *ngIf="!showRegisteringForm">
    <!-- <ion-card  *ngIf="patient"> -->
      <ion-card  *ngFor="let item of patient">
        <span *ngIf="!item.isEdit; else elseBlock">
            <ion-card-header *ngIf="item; else elseEmpty">
                <ion-card-title>{{item.Name}} of {{item.Contact}} </ion-card-title>
                <ion-card-subtitle>From: {{item.Email}}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-header #elseEmpty>
                  <ion-card-title>No records available</ion-card-title>
                  <ion-card-subtitle>Check again for updates</ion-card-subtitle>
                </ion-card-header>
              <!-- <ion-card-content>
        
                <ion-button shape="round" color="secondary" size="small" (click)="EditRecord(item)">
                  <ion-icon size="small" slot="icon-only" name="create"></ion-icon>
        
                </ion-button>
                <ion-button shape="round" color="danger" size="small" (click)="RemoveRecord(item.id)">
                  <ion-icon size="small" slot="icon-only" name="trash"></ion-icon>
        
                </ion-button>
              </ion-card-content> -->
            </span>
            <!-- <ng-template #elseBlock>
              <ion-card-header>
                <ion-card-title>
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        Edit
                      </ion-col>
                      <ion-col>
                        <ion-button fill="clear" color="medium" size="small" (click)="item.isEdit = false">
                          Cancel
                        </ion-button>
                      </ion-col>
                      <ion-col>
                        <ion-button fill="outline" color="success" size="small" (click)="UpdateRecord(item)">
                          Update
                        </ion-button>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label><strong>Name</strong></ion-label>
                  <ion-input type="text" [(ngModel)]="item.EditName"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label><strong>Contact</strong></ion-label>
                  <ion-input type="text" [(ngModel)]="item.EditContact"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label><strong>Address</strong></ion-label>
              <ion-input type="text" [(ngModel)]="item.EditAddress"></ion-input>
            </ion-item>
          </ion-card-content>
        </ng-template> -->
    
      </ion-card>
    <!-- </ion-card > -->
  </ion-content>
  