<ion-header>
  <ion-toolbar>
    <ion-nav>
      <ion-buttons start>
        <button ion-button icon-only>
          <ion-back-button defaultHref="/home"></ion-back-button>
        </button>
      </ion-buttons>
      <ion-buttons right>
          <button ion-button icon-only (click)="buttonAddOffering()">
              <ion-icon name="add"></ion-icon>
          </button>
      </ion-buttons>
      <ion-title> My Offerings</ion-title>
      
    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
