<ion-header>
  <ion-toolbar>
    <ion-nav>
      <ion-buttons start>
          <button ion-button icon-only>
            <ion-back-button defaultHref="/savings"></ion-back-button>
          </button>
        </ion-buttons>
    <ion-title>Add Savings</ion-title>
    </ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="mySaving.length == 0">
  <form (ngSubmit)="onAddSavings(f.value)" #f="ngForm">
    
    <ion-item >
      <ion-label position="floating">Type of savings</ion-label>
      <ion-input type="text" name="savings" ngModel required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input type="number" name="amount" ngModel required></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit" [disabled]="!f.valid" >Add</ion-button>
  </form>


</ion-content>
<ion-content padding *ngIf="mySaving.length > 0">
    <form (ngSubmit)="onEditSavings(f.value)" #f="ngForm">
    <ion-item  *ngFor="let saving of mySaving">
        <ion-label position="floating">Type of savings</ion-label>
        <ion-input type="text" name="savings" ngModel required [(ngModel)]="saving.savings"> </ion-input>
      </ion-item>
      <ion-item  *ngFor="let saving of mySaving">
          <ion-label position="floating">Amount</ion-label>
          <ion-input type="number" name="amount" ngModel required [(ngModel)]="saving.amount"></ion-input>
      </ion-item>
      <ion-item  *ngFor="let saving of mySaving">
          <ion-label position="floating">Id</ion-label>
          <ion-input type="number" name="Number" ngModel required [(ngModel)]="saving.id"></ion-input>
      </ion-item>
      <ion-button expand="block" type="submit" [disabled]="!f.valid" >Edit</ion-button>
    </form>
</ion-content>
