<ion-header>
    <ion-toolbar>
        <ion-title>
        Nearby Me Restaurants
        </ion-title>
        <!-- <ion-buttons end>
        <button ion-button (click)="showNearbyResto()"><ion-icon name="list"></ion-icon>Restaurants</button>
        </ion-buttons>   -->

    </ion-toolbar>
</ion-header>

<ion-content padding>

<div #map id="map"></div> 

<div style="width : 100% ;height: 60%">
    <ion-list>
    <ion-item *ngFor="let place of places">
        <ion-button>
            <button (click) = "showHospital('-1.2849272,36.82790060000002')">{{place.name}}</button>
        </ion-button>
    </ion-item>
    </ion-list>
</div>

</ion-content>