<ion-header>
    <ion-toolbar color = "primary">
        <ion-title>Patient Registration</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding gradient">
    <ion-row>
      <ion-col size="1">
          <ion-icon name="checkbox" color="success" size = "large"></ion-icon>
      </ion-col>
      <ion-col>
          <p padding-start>Find right hospital & doctor</p>
      </ion-col> </ion-row>
    <ion-row>
      <ion-col size="1">
          <ion-icon name="checkbox" color="success" size = "large"></ion-icon>
      </ion-col>
      <ion-col>
      <p padding-start>Get treatment cost as per your budget</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="1">
          <ion-icon name="checkbox" color="success" size = "large"></ion-icon>
      </ion-col>
      <ion-col>
      <p padding-start>Manage medical VISA process</p>
      </ion-col>
    </ion-row>
    <ion-row class ="centre">
      <ion-col offset="3">
        <ion-button (click)="startHere()">
          START HERE
        </ion-button>
      </ion-col>
    </ion-row>
     
  </div>
</ion-content>
